--extra-index-url https://download.pytorch.org/whl/cu128

numpy<2.0.0
torch==2.7.0+cu128
torchvision==0.22.0+cu128
torchaudio==2.7.0+cu128
Pillow>=9.0.0
tqdm>=4.65.0
matplotlib>=3.7.0
torchgeo>=0.5.0
